body {
  background: black;
  color: white;
}

.App {
  text-align: center;
  padding: 5px;
  margin: 20px 10px;
}

.appTitle {
  font-size: 26px;
  margin-bottom: 20px;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  object-fit: cover;
}

.profile {
  display: flex;
  justify-content: center;
}

.name {
  font-size: 26px
}

.followers, .genres  {
  font-size: 18px;
}

.artistInfo {
  margin-left: 20px;
  text-align: left;
}

.track {
  border-radius: 3px;
  padding: 5px;
  text-align: left;
  cursor: pointer;
  flex: 0 0 20%;
  text-align: center
}

.trackImg {
  width: 100%;
  border-radius: 3px;
  object-fit: cover;
  position: relative;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.track-play{
  display: flex;

}

.track-play-inner {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 25px;
  border-radius: 30px;
  margin-top: -100px;
  opacity: 0;
  font-weight: bold;
}

.track-play-inner:hover {
  opacity: 0.8;
  animation: fade-in 1s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}